In [ ]:
name = input("Enter your name :").lower()
if name =='zahid':
    print('your name is '+ name)
else:
    print("NO")

In [ ]:
name = input("Enter your name :").lower()
if name =='ZAHID':
    print('your name is '+ name)
else:
    print("NO")

In [ ]:
name = input('your name').lower()
if name =='Zahid':
    print('your name is '+ name)
else:
    print("write in correct ca")

In [ ]:
name = input('your name').title()
if name =='Zahid':
    print('your name is '+ name)
else:
    print("write in correct casing")

In [ ]:
name = input('your name').title()

    print('your name is '+ name)
else:
    print("write in correct casing")

In [ ]:
name = input('your name').title()
if name:
    print('your name is '+ name)
else:
    print("write in correct casing")

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  <=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
x = float(input('enter your marks '))
if x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x>=50:    
    print('Grade D')
else:
    print('sorry you are fail')

In [ ]:
x = float(input('enter your marks '))
if x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x>=50:    
    print('Grade D')
elif
    print('sorry you are fail')

In [ ]:
x = float(input('enter your marks '))
if x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x<=50:    
     print('sorry you are fail')

In [ ]:
x = float(input('enter your marks out of 100 '))

if x > 100:
print('error')

elif x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x>=50:    
    print('Grade D')
else:
    print('sorry you are fail')

In [ ]:
x = float(input('enter your marks out of 100 '))

if x > 100:
    print('error')

elif x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x>=50:    
    print('Grade D')
else:
    print('sorry you are fail')

In [ ]:
eng=float(input("enter your english marks "))
urdu=float(input("enter your urdu marks "))
maths=float(input("enter your maths marks "))
sci=float(input("enter your sci marks "))
comp=float(input("enter your comp marks "))
obtain_Marks=eng+urdu+maths+sci+comp
total_Marks=500
print(obtain_Marks)
per=(obtain_Marks/total_Marks)*100
print(per)
if per > 100:
    print('error')

elif per >=90:
    print('Grade A*')
elif per>=80:    
    print('Grade A')
elif per>=70:    
    print('Grade B')
elif per>=60:    
    print('Grade C')
elif per>=50:    
    print('Grade D')
else:
    print('sorry you are fail')
print('your obtained marks are ',Obtain_Marks)

In [ ]:
eng=float(input("enter your english marks "))

urdu=float(input("enter your urdu marks "))

maths=float(input("enter your maths marks "))

sci=float(input("enter your sci marks "))

comp=float(input("enter your comp marks "))

obtain_Marks=eng+urdu+maths+sci+comp

total_Marks=500



per=(obtain_Marks/total_Marks)*100



if per > 100:
    print('error')

elif per >=90:
    grade='Grade A*'
elif per>=80:    
    grade='Grade A'
elif per>=70:    
    grade='Grade B'
elif per>=60:    
    grade='Grade C'
elif per>=50:    
    grade='Grade D'
else:
    grade='fail'
    #('sorry you are fail')
    
print('u have obtained '+ str(obtain_Marks) + 'Marks' + '\n your percentage is '+ str(per)+ '\n your grade is '+ grade)

In [ ]:
permission = input('ask from your wife.\nIs she allow you to go stadium? [Y/N]').upper()
tickets = input('do you have tickets? [Y/N]').upper()
age = int(input('enter your age:'))
if age >=18 and permission == "Y" and tickets == "Y":
    print('\n you are allow for the match')
else:
    print('\n get loss from here...\n go to home and watch on tv')

In [ ]:
age = int(input('enter your age '))
remainingAge=18-age
if age >= 18:
    cnic = input('Do you have cnic? [Y/N]').upper()
    vlistname = input('Do you have your name in the voters list? [Y/N]').upper()
    city = input('enter your city name').title()
if (cnic =="Y" and vlistname =="Y") or city!='Lahore':
    print('you are allowed to cast vote')
else:
    print('You are not eligible to cast vote')
    print("you will be allowed after "+ str(remainingAge)+"years")

# comment

In [ ]:
# print('hello world') # for comments, another option is three times ''' '''

# print('hello world')
# print('hello world')
# print('hello world')
# print('hello world')
# print('hello world')
# print('hello world')

# list

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[2]

In [ ]:
friends.index('nouman') # provide index of the person in the array

"ali" in friends # check whether ali is in the list or not

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[2]
myList[-3]

In [2]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[2]
print(myList[-3])

quetta

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[3]='hyderabad'
print(myList)

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[-2]='hyderabad'
print(myList)

In [4]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList.append('hyderabad')
print(myList)

['khi', 'lhr', 'peshawar', 'quetta', 'multan', 'islamabad', 'hyderabad']

In [3]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList.append('hyderabad','muree')
print(myList)

TypeError: append() takes exactly one argument (2 given)

In [ ]:
myList.index('lhr')

In [ ]:
"lhr"

In [ ]:
"lhr"in myList

In [ ]:
list=[]
list.append('car')
list.append('motorbikes')
list.append('trucks')
list.append('aeroplane')
print(list)

In [ ]:
list=['hamza','ali','saad','hayan','hafsah']
print(list)

In [5]:
list=['hamza','ali','saad','hayan','hafsah']
list.insert(3,'hussain')
print(list)

['hamza', 'ali', 'saad', 'hussain', 'hayan', 'hafsah']

In [ ]:
list=['hamza','ali','saad','hayan','hafsah']
list.insert(3,'hussain')
print(list)

In [ ]:
list=['hamza','ali','saad','hayan','saad','hafsah']
list.remove('saad')
print(list)

In [ ]:
list=['hamza','ali','saad','hayan','hafsah']
print(list.index('hayan'))
del list[3]
print(list)

In [ ]:
list=['Task5', 'Task4', 'Task3', 'Task2', 'Task1']
task_done=[]
user=input('have you completed your all task? [Y/N]').upper()
if user=='Y':
    task_done = list.pop()
    print(task_done)
    print(list)
    
else:
    print('plz finish the task')

# if user=='Y':
#     task2=input('have you completed your task2? [Y/N]').upper() 
#     if task2=='Y'
#     task_done.append('Task2')
#     list.pop()
#     print('please attempt Task3')
# else:
#     print('plz finish the task')
    
# if user=='Y':
#     task3=input('have you completed your task3? [Y/N]').upper() 
#     if task3=='Y'
#     task_done.append('Task3')
#     list.pop()
#     print('please attempt Task4')
# else:
#     print('plz finish the task')   
    
# if user=='Y':
#     task4=input('have you completed your task4? [Y/N]').upper() 
#     if task4=='Y'
#     task_done.append('Task4')
#     list.pop()
#     print('please attempt Task5')
# else:
#     print('plz finish the task')  
    
# if user=='Y':
#     task5=input('have you completed your task5? [Y/N]').upper() 
#     if task5=='Y'
#     task_done.append('Task5')
#     list.pop()
#     print('congrats')
# else:
#     print('plz finish the task')    
    
print(task_done)

In [ ]:
todolist=['call sara', 'play','take lunch','goto shopping']

complete_task=[]

In [ ]:
todolist=['call sara', 'play','take lunch','goto shopping']

complete_task=[]

task =input("Enter your task:")
if task in todolist:
    index=todolist.index(task)
    complete_task.append(todolist.pop(index))
    print(todolist)
    print(complete_task)
else:
    print("This taks is not in list")

# 27-mar-19   slicing

In [ ]:
#slicing---slicing always travel from left to right----

In [ ]:
#      [-9-8-7-6-5-4-3-2-1]
list1 = [9,8,7,6,5,4,3,2,1]
#      [0 1 2 3 4 5 6 7 8]
list1

In [6]:
#list1[start:end]
list2 =list1[3:5]
list2

NameError: name 'list1' is not defined

In [7]:
#list1[start:end]
list2 = list1[3:5]
print(list2)

NameError: name 'list1' is not defined

In [ ]:
list3=list1[5:3]
list3

In [ ]:
reversedSliced=list1[-6:-4]
reversedSliced

In [ ]:
friends=['zohaib','umer','ali','hamza']


print(friends[0].upper()+' you are invited by me on dinner ' ) 
print(friends[1].upper()+' you are invited by me on dinner ' ) 
print(friends[2].upper()+' you are invited by me on dinner ' ) 
print(friends[3].upper()+' you are invited by me on dinner ' )

In [ ]:
friends=['zohaib','umer','ali','hamza']
friends.append('zahid')
friends.insert(0,'hayan')
friends.insert(3,'hussain')

print('we found a bigger dinner table so Mr '+friends[0].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[1].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[2].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[3].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[4].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[5].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[6].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[7].upper()+' you are invited by me on dinner')

In [8]:
ekList=[4,5,6,7,8,9]
list2=ekList.copy()

In [9]:
ekList.append(4665)
print(ekList)
print(list2)

[4, 5, 6, 7, 8, 9, 4665]
[4, 5, 6, 7, 8, 9]

In [10]:
s=list2[:] # works same as copy the list

In [11]:
print(s[1:3],s[4:])

[5, 6] [8, 9]

In [ ]:
s.clear() # clears the list

In [ ]:
s

In [6]:
q=[3,4,5,6,7,8,8,9,8,0,1]
q.count(8)

3

In [ ]:
del q[1] # for delete always done by giving the index number

In [ ]:
q

In [ ]:
q.remove(9) # remove done on the basis of value

In [ ]:
poppedV=q.pop(2)

In [ ]:
poppedV

In [ ]:
q.extend('ahsunnnn')
print(q)

In [1]:
list1 = [45,65,1,65,23,95]

In [2]:
sum(list1)

294

In [3]:
max(list1)

95

In [4]:
min(list1)

1

In [6]:
listInList=['q',5,[1,2,3,4,5,[4,5,6]]]
listInList[2][5][2]

6

In [3]:
listInList=['q',5,[1,2,3,4,5,[4,5,6]]]
listInList[2][5].index(5)

1

In [17]:
new_users = ['asad','irfan','ali','yasir','hussain']

current_users = ['ali', 'sara', 'asad','saad','ahmed']

for check in current_users:
    if check in new_users:
        print('the user name is not available')
    else:
        print('user name is available' )

the user name is not available
user name is available
the user name is not available
user name is available
user name is available

In [20]:
users = input('Enter your name ')
new_user = users.lower()


# new_users = ['asad','irfan','ali','yasir','hussain']

current_users = ['ali', 'sara', 'asad','saad','ahmed']

for check in current_users:
    if check in new_users:
        print('the user name is not available')
    else:
        print('user name is available' )

Enter your name ali
the user name is not available
user name is available
the user name is not available
user name is available
user name is available

In [22]:
s=['pakistan']

In [ ]:
# python string docs===google search
# python-reference.read the docs
# docs.python.org

# string format

In [24]:
name='saad'
f_name='ali'
print ("My name is "+ name + " and my father name is "+f_name)

My name is saad and my father name is ali

# string method format 2

In [25]:
name='saad'
f_name='ali'
print ("My name is {} and my father name is {}".format(name,f_name))

My name is saad and my father name is ali

In [26]:
name='saad'
f_name='ali'
print ("My name is {0} and my father name is {1}".format(name,f_name))

My name is saad and my father name is ali

In [27]:
name='saad'
f_name='ali'
print ("My name is {1} and my father name is {1}".format(name,f_name))

My name is ali and my father name is ali

In [29]:
name='saad'
f_name='ali'
print ("My name is {1} and my father name is {0}".format(name,f_name))

My name is ali and my father name is saad

# 3rd method

In [30]:
name='saad'
f_name='ali'
print (f"My name is {name} and my father name is {f_name}")

My name is saad and my father name is ali

In [31]:
num=45
name='asad'
print(f"my name is {name} and my number is {num}")

my name is asad and my number is 45

In [32]:
person = "Nasir"
print ('my name is {}'.format(person))

my name is Nasir

In [33]:
myList = [1,2,3]
print(f'my number is {myList[2]}')

my number is 3

# Tupple is immutable

In [34]:
myTupple = ('apple','oranges','pineapple')  #same like list but can not be modified...list has square brakcets while tupple has round brackets

In [35]:
a= 12,2345 #packing of values(tupples)

In [36]:
a

(12, 2345)

In [37]:
b,c =a

In [38]:
b

12

In [39]:
c

2345

In [40]:
a=454,4545,478j,656,36,786,125,764,154

In [41]:
a

(454, 4545, 478j, 656, 36, 786, 125, 764, 154)

In [42]:
b,c,d,e=a

ValueError: too many values to unpack (expected 4)

In [43]:
b,c,d,e,f,g,h,i,j=a

In [44]:
b

454

In [45]:
d

478j

In [46]:
f

36

In [47]:
g

786

In [48]:
h

125

In [49]:
i

764

# 10apr19

In [9]:
cities=('lahore','karachi','islamabad','hyderabad','quetta')

In [10]:
print(cities)

('lahore', 'karachi', 'islamabad', 'hyderabad', 'quetta')

In [12]:
tup1 = ('physics','chem',1997,1998)
tup2 = (1,2,3,4,5,6,7)
print("tup1[0]:", tup1[0])
print("tup2[1:5]:", tup2[1:5])

tup1[0]: physics
tup2[1:5]: (2, 3, 4, 5)

In [13]:
tup1 = (12,34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [14]:
tup = ('physics','chemistry', 1997,2000)
print(tup)
del tup
print ('After deleting tup :')
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

In [15]:
thistuple = ('apple','banana','cherry')
thistuple[1]='blackcurrant'
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [16]:
thistuple = ('apple','banana','cherry')
for x in thistuple:
    print(x)

apple
banana
cherry

In [17]:
thistuple = ('apple','banana','cherry')
if "blackBerry" in thistuple:
    print("yes,'apple' is in the fruits tuple")

In [18]:
thistuple = ('apple','banana','cherry')
if "blackBerry" in thistuple:
    print("yes,'apple' is in the fruits tuple")
else:
    print('No Blackberry in your tupple')

No Blackberry in your tupple

In [20]:
thistuple=('apple', 'banana', 'cherry')
print(len(thistuple))

3

# DICTIONARIES

In [21]:
a = {'key':'value'}

In [24]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [25]:
alien_0 = {'color': 'green', 'points': '5'}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [27]:
alien_0 = {'color':'green','points':5}
new_points = alien_0['points']
print('you just earned' + str(new_points)+"points!")

you just earned5points!

In [28]:
alien_0 = {'color':'green','points':5}
print(alien_0)
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [39]:
foods={}
foods['karachi']=['favourite','peshawari','balochi']
foods['sheep']='Boti Kabab'
foods['Khawsa']= 'yummy'
foods['BBQ']='malai boti'
foods['shake']='chocolate'
foods['icecream']= {"ice":454,'ice2':555,'ice3':[44,66,88]}
foods['icecream']['ice3'][2]

88

In [44]:
players = {'watson':'australian international cricketer'}
print('Shane Robert Watson is a '+ players["watson"]+',')
players = {'imam ul haq':'parchi'}
print("\n We all know that Imam ul Haq is a "+players["imam ul haq"].upper()+".")

Shane Robert Watson is a australian international cricketer,

 We all know that Imam ul Haq is a PARCHI.

In [45]:
psl ={'karachi':'kings','multan':'sultan','zalmi':'won'}
print('karachi is:' + str(psl['karachi']))
if psl['zalmi']=='loser':
    x_increment = 1
elif psl['zalmi']=='won':
    x_increment = 2
else:
    x_increment = 3
psl['zalmi']=psl['zalmi']+str(x_increment)
print("PSL4 zalmi :" + str(psl["zalmi"]))

karachi is:kings
PSL4 zalmi :won2

# 15apr19

In [1]:
dict1={'a':10, 'b':20, 'c':30}
for key1, value1 in dict1.items():
    print(key1,value1)

a 10
b 20
c 30

In [2]:
for key3 in dict1.keys():
    print(key3)

a
b
c

In [3]:
for value3 in dict1.values():
    print(value3)

10
20
30

In [11]:
dict2={'firstname':'ali', 'last name':'aamir', 'age':12, 'city':'karachi'}
print(dict2['firstname'].title())
print(dict2['last name'].title())
print(dict2['age'])
print(dict2['city'].title())''

Ali
Aamir
12
Karachi

In [16]:
dict2={'firstname':'ali', 'last name':'aamir', 'age':12, 'city':'karachi'}
print("His first name is "+ dict2['firstname'].title())
print("His last name is "+dict2['last name'].title())
print("His age is "+ str(dict2['age']))
print(dict2['city'].title())

His first name is Ali
His last name is Aamir
His age is 12
Karachi

In [17]:
dict2={'firstname':'ali', 'last name':'aamir', 'age':12, 'city':'karachi'}
print("His first name is {}".format(dict2['firstname']).title())

His First Name Is Ali

In [18]:
dict2={'firstname':'ali', 'last name':'aamir', 'age':12, 'city':'karachi'}
print("His first name is {}".format(dict2['firstname']).title())
print("His last name is {}".format(dict2['last name']).title())
print("His age is {}".format(dict2['age']).title())

His First Name Is Ali
His Last Name Is Aamir
His Age Is 12

# print through format command

In [ ]:
dict2={'firstname':'ali', 'last name':'aamir', 'age':12, 'city':'karachi'}
print("His first name is {}".format(dict2['firstname']).title())
print("His last name is {}".format(dict2['last name']).title())
print("His age is {}".format(dict2['age']).title())
print("His city is {}".format(dict2['city']).title())

In [20]:
user_0 ={'Teacher': 'Sir Nasir', 'Teacher_Assistant':'Shahzad','Student':'Abc'}
for key, value in user_0.items():
    print("\nKey:" + key)
    print("Value:"+ value)

Key:Teacher
Value:Sir Nasir

Key:Teacher_Assistant
Value:Shahzad

Key:Student
Value:Abc

In [22]:
names={'shahzad':'ahsan', 'sara Ali':'khan', 'Komal':'aftab','hassan':'Ali'}
for first_name, last_name in names.items():
    print('My first Name is '+first_name.title() + ' and my last name is '+last_name.title())

My first Name is Shahzad and my last name is Ahsan
My first Name is Sara Ali and my last name is Khan
My first Name is Komal and my last name is Aftab
My first Name is Hassan and my last name is Ali

# looping through all the keys in a dictionary

In [26]:
words = {'mobile':'apple', 'batsman':'Ab', 'bike':'Heavy', 'car':'audi'}
for word in words.keys():
    print('Dict:' + word)

Dict:mobile
Dict:batsman
Dict:bike
Dict:car

In [27]:
words = {'mobile':'apple', 'batsman':'Ab', 'bike':'Heavy', 'car':'audi'}
for word in words.values():
    print('Dict:' + word)

Dict:apple
Dict:Ab
Dict:Heavy
Dict:audi

In [29]:
alien1 ={'name':'Anas', 'color':'green', 'height':'5.7', 'weight':'67'}
if 'last_name' not in alien1.values():
    print('Please write your last name also...')

Please write your last name also...

In [31]:
alien1 ={'name':'last_name', 'color':'green', 'height':'5.7', 'weight':'67'}
if 'last_name' not in alien1.values():
    print('Please write your last name also...')

In [33]:
list=['ali','ahmed','zahid','shariq']
list.sort()
print(list)

['ahmed', 'ali', 'shariq', 'zahid']

# looping through a dictionary's keys in order

In [34]:
name1={'Sheharyar':'Zafar', 'Saif':'Zahid','Zohaib'}

SyntaxError: invalid syntax (<ipython-input-34-385c45219651>, line 1)

In [35]:
listing=[1,4,5,17,9669,56,4366,89]
ret = sorted(listing,reverse=True)

In [36]:
ret

[9669, 4366, 89, 56, 17, 5, 4, 1]

In [37]:
listing

[1, 4, 5, 17, 9669, 56, 4366, 89]

In [38]:
alien_0={'color':'green', 'points':5}
alien_1={'color':'red', 'points':10}
alien_2={'color':'blue', 'points':15}
aliens=[alien_0,alien_1,alien_2]
for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5}
{'color': 'red', 'points': 10}
{'color': 'blue', 'points': 15}

In [51]:
alien_0={'color':'green', 'points':5}
alien_1={'color':'red', 'points':10}
alien_2={'color':'blue', 'points':15}
aliens=[alien_0,alien_1,alien_2]
for alien in aliens:
    for key,value in alien.items():
        print(key, value)

color green
points 5
color red
points 10
color blue
points 15

# nested loop

In [56]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for table in [2,3]:
    for num in numbers:
        print(f"{table} * {num} = {table*num}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

# 22-Apr-19

# A dictionary in a dictionary

In [1]:
users = {'sheikh':{'first':'shahzad','last':'ahsan','location':'bahadurabad',},'sir':{'first':'nasir','last':'hussain','location':'gulsahn',}}
for username, user_info in users.items():
    print("\nUsername:" +username)
    full_name = user_info['first']+" "+user_info['last']
    location=user_info['location']
    print("\tFull name:"+full_name.title())
    print("\tLocation:"+location.title())

Username:sheikh
	Full name:Shahzad Ahsan
	Location:Bahadurabad

Username:sir
	Full name:Nasir Hussain
	Location:Gulsahn

# while loop

In [2]:
a = 1
while a<10:
    print(a,"hello")
    a +=1

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [4]:
a = 10
while a>0:
    print(a,"hello")
    a -=1

10 hello
9 hello
8 hello
7 hello
6 hello
5 hello
4 hello
3 hello
2 hello
1 hello

In [5]:
for a in range(1,10):
    print(a,"hello")

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [9]:
a = 2
while a<20:
    print(a)
    a +=2

2
4
6
8
10
12
14
16
18

In [11]:
a = 1
while a<21:
    print(a)
    a +=2

1
3
5
7
9
11
13
15
17
19

In [17]:
a = 1
while a<21:
    if a%2==0:
        print(a,"even")
    else:
        print(a,"odd")
    a +=1

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

In [ ]:
condition = True
while condition:
    num = input("enter number :")
    if num=="q":
        print('you are out now')
        condition = False
    else:
        print("The square of the number is ", int(num)**2)

In [20]:
 num1 = int(input("enter number :"))

enter number :1

In [22]:
 num1 = int(input("enter number :"))
num2 = int(input("enter another number :"))

enter number :12
enter another number :12

In [ ]:
num1 = int(input("enter number :"))
num2 = int(input("enter another number :"))

print(" Press 1 for addition\n", "Press 2 for subtraction\n", "Press 3 for multiplication\n", "Press 4 for division\n", "Press 5 for quit")

num3 = int(input('enter number from 1 to 5'))

if num3==1:
    print(num1+num2)
elif num3==2:
    print(num1-num2)
elif num3==3:
    print(num1*num2)
elif num3==4:
    print(num1/num2)
elif num3==5:
    print('quit')   

condition = True
while condition:
    num4 = input('do you want to cont? press Y/N').upper()
if num4=="Y":
        condition = False
else:
        print('thanks')

enter number :44
enter another number :44
 Press 1 for addition
 Press 2 for subtraction
 Press 3 for multiplication
 Press 4 for division
 Press 5 for quit
enter number from 1 to 55
quit

In [ ]:
num1 = int(input("enter number :"))
num2 = int(input("enter another number :"))

print(" Press 1 for addition\n", "Press 2 for subtraction\n", "Press 3 for multiplication\n", "Press 4 for division\n", "Press 5 for quit")

num3 = int(input('enter number from 1 to 5'))

if num3==1:
    print(num1+num2)
elif num3==2:
    print(num1-num2)
elif num3==3:
    print(num1*num2)
elif num3==4:
    print(num1/num2)
elif num3==5:
    print('quit')

In [1]:
flag = True
topping = ''
topp=[]
while flag==True:
    pizza = input('please enter your flavor=')
    if pizza != "q":
        print('your ordered flavor is = '+ pizza)
    else:
        break
    user_input = input('Please enter the size , or press "q" to terminate the program: ')
    if user_input != "q":
        print('your ordered size is ='+user_input)
    else:
        break
    while topping!="q":
        topping= input('enter your topping = ')
        topp.append(topping)
    else:
        break
    break
for top in topping:
    print(top)

please enter your flavor=pp
your ordered flavor is = pp
Please enter the size , or press "q" to terminate the program: 34
your ordered size is =34
enter your topping = w
enter your topping = w
enter your topping = w
enter your topping = t
enter your topping = q
q

# 1-may-19

In [4]:
for i in range(10):
    if i==5:
        break
    else:
        print(i)
else:
        print("Here")

0
1
2
3
4

In [5]:
x=(i for i in range(3))
for i in x:
    print(i)

0
1
2

In [7]:
string = 'my name is x'
for i in string.split():
    print(i,end=",")

my,name,is,x,

In [8]:
string = 'my name is x'
for i in string.split():
    print(i,end="*")

my*name*is*x*

In [14]:
string = 'my-name-is-x'
for i in string.split("-"):
    print(i)

my
name
is
x

In [15]:
a=[0,1,2,3]
i=-2
if i not in a:
    print(i)
    i+=1

-2

In [16]:
for i in range(1,101):
    if int(i*0.5)==i*0.5:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [18]:
l=['good','oh!','excellent!','450#']
[n for n in l if n.isalpha() or n.isdigit()]

['good']

In [19]:
s1=[3,4]
s2=[1,2]
s3=list()
i=0
j=0
for i in s1:
    for j in s2:
        s3.append((i,j))
        i+=1
        j+=1
print(s3)

[(3, 1), (4, 2), (4, 1), (5, 2)]

In [20]:
s1=[6,7]
s2=[11,15]
s3=list()
i=0
j=0
for i in s1:
    for j in s2:
        s3.append((i,j))
        i+=1
        j+=1
print(s3)

[(6, 11), (7, 15), (7, 11), (8, 15)]

In [21]:
s1=[6,7]
s2=[11,15,17]
s3=list()
i=0
j=0
for i in s1:
    for j in s2:
        s3.append((i,j))
        i+=1
        j+=1
print(s3)

[(6, 11), (7, 15), (8, 17), (7, 11), (8, 15), (9, 17)]

In [22]:
a={}
a[2]=1
a[1]=[2,3,4]
print(a[1][1])

3

In [24]:
a ={1:"A",2:"B",3:"C", 4:"D"}
for i, j in a.items():
    print(i,j, end=" ")

1 A 2 B 3 C 4 D

In [25]:
a ={1:"A",2:"B",3:"C"}
b ={1:'D', 5:"E"}
a.update(b)
print(a)

{1: 'D', 2: 'B', 3: 'C', 5: 'E'}

In [26]:
a ={1:"A",2:"B",3:"C"}
a.clear()
print(a)

{}

In [27]:
a={1:5,2:3,3:4}
a.pop(3)
print(a)

{1: 5, 2: 3}

In [28]:
a={1:5,2:3,3:4}
a.pop(1)
print(a)

{2: 3, 3: 4}

In [29]:
lamb = lambda x:x**3 # lambda = anonymious function
print(lamb(5))

125

In [30]:
a =[1,2,3,4,5,5,5,6,6,7,8]
c = set(a)
print(c)

# set removes duplicate

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
i=0
while i<5:
    print(i)
    i+=1
    if i==3:
        break
else:
    print(0)

0
1
2

In [36]:
lst=[1,2,3,4]
print(lst[-3:-2])

[2]

# 8-may-19  FUNCTIONS

In [10]:
def result(name, m1, m2, m3):
    total = m1+m2+m3
    print(f"Name of student is {name}")
    print(f"Total Marks are: {total}")

In [11]:
result("Ali",78,79,90)

Name of student is Ali
Total Marks are: 247

In [12]:
result("Asad",78,79,90)

Name of student is Asad
Total Marks are: 247

In [29]:
def result(name, maths, comp, eng):
    grade=""
    total = (maths+comp+eng)
    per = (total/300)*100
    print(f"Name of student is {name}")
    print(f"Total Marks are: {total}")
    
    if per > 100:
        print('error')

    elif per >=90:
        grade='A+'
    elif per>=80:    
        grade='A'
    elif per>=70:    
        grade='B'
    elif per>=60:    
        grade='C'
    elif per>=50:    
        grade='D'
    else:
        grade = 'sorry you are fail'
    print(f"grade is : {grade}")
    return total
name = input("Enter your name: ")
maths =int( input("enter your maths marks: "))
comp = int(input("enter your computer marks: "))
eng = int(input ("enter your english marks: "))

rse= result(name,maths, comp, eng)
rse

Enter your name: ll
enter your maths marks: 55
enter your computer marks: 66
enter your english marks: 77
Name of student is ll
Total Marks are: 198
grade is : C

198

# objects

# Functions 10-june-19

In [1]:
def full_name():
    print("Zahid Suleman")

In [2]:
full_name()

Zahid Suleman

In [3]:
full_name()

Zahid Suleman

In [4]:
def full_name():
    print("Zahid Suleman")
    print("Muhammad Hamza Khan")

In [5]:
full_name()

Zahid Suleman
Muhammad Hamza Khan

In [7]:
def cal(s):
    print(s)

In [8]:
def cal(s):
    print(s)

In [9]:
cal(input(enter the first number))

SyntaxError: invalid syntax (<ipython-input-9-80a598e467e7>, line 1)

In [12]:
def name(s):
    print(s)

In [18]:
name("ahmed")

ahmed

In [15]:
def calc(n1,op,n2):
    print(n1+n2)

In [16]:
def calc(n1,op,n2):
    print(n1+n2)

In [20]:
calc(4,"+",6)

10

In [25]:
def calc(a,b,c):
    if c=="+":
        print(a+b)
    elif c=="-":
        print(a-b)
    elif c=="*":
        print(a*b)
    elif c=="/":
        print(a/b)
    else:
        print("Invalid operation")

In [26]:
calc(2,2,"+")

4

In [27]:
def calc(a,b,c):
    if c=="+":
        return(a+b)
    elif c=="-":
        return(a-b)
    elif c=="*":
        return(a*b)
    elif c=="/":
        return(a/b)
    else:
        print("Invalid operation")

In [29]:
x = calc(10,2,'/')

In [30]:
x

5.0

# key word argument

In [31]:
def family(son_name , father_name):
    print(f"Son name is {son_name}")
    print(f"Father name is {father_name}")

In [32]:
family (father_name= 'Suleman',son_name = 'Zahid', )

Son name is Zahid
Father name is Suleman

In [39]:
def friends(a):
    for ab in a:
        print(f"hello {ab}" )

In [40]:
friends (["ahmed", "bilal", "owais", "ali", "saad"])

hello ahmed
hello bilal
hello owais
hello ali
hello saad

In [43]:
def my_full_name(f_name, m_name, l_name):
    full_name = (f_name + m_name + l_name)
    print(full_name)

# default argument ...default argument always comes at last

In [46]:
def my_full_name(f_name, l_name, m_name=' '):
    full_name = (f_name + m_name + l_name)
    print(full_name)

In [47]:
my_full_name("Zahid","Suleman")

Zahid Suleman

In [50]:
def shopping_value(s_value, a, default=5):
    if s_value>5000:
        tax=10
        tax_price=bill(5/100)
        print(f"your amount is (tax_price)")
    elif s_value<5000:
        tax_price=bill(tax/100)
        print(f"your amount is (tax_price)")
shopping_value(3500)

TypeError: shopping_value() missing 1 required positional argument: 'a'

NameError: name 'shopping_value' is not defined

In [51]:
def family_name(*names):
    print("my family names are" names)

SyntaxError: invalid syntax (<ipython-input-51-13d4a8864a91>, line 2)