In [ ]:
name = input("Enter your name :").lower()
if name =='zahid':
    print('your name is '+ name)
else:
    print("NO")

In [ ]:
name = input("Enter your name :").lower()
if name =='ZAHID':
    print('your name is '+ name)
else:
    print("NO")

In [ ]:
name = input('your name').lower()
if name =='Zahid':
    print('your name is '+ name)
else:
    print("write in correct ca")

In [ ]:
name = input('your name').title()
if name =='Zahid':
    print('your name is '+ name)
else:
    print("write in correct casing")

In [ ]:
name = input('your name').title()

    print('your name is '+ name)
else:
    print("write in correct casing")

In [ ]:
name = input('your name').title()
if name:
    print('your name is '+ name)
else:
    print("write in correct casing")

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  <=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
temp = float(input("what is the temperature today?"))
if temp  >=25:
    print('wear shots')
else:
    print('wear pants')

In [ ]:
x = float(input('enter your marks '))
if x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x>=50:    
    print('Grade D')
else:
    print('sorry you are fail')

In [ ]:
x = float(input('enter your marks '))
if x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x>=50:    
    print('Grade D')
elif
    print('sorry you are fail')

In [ ]:
x = float(input('enter your marks '))
if x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x<=50:    
     print('sorry you are fail')

In [ ]:
x = float(input('enter your marks out of 100 '))

if x > 100:
print('error')

elif x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x>=50:    
    print('Grade D')
else:
    print('sorry you are fail')

In [ ]:
x = float(input('enter your marks out of 100 '))

if x > 100:
    print('error')

elif x >=90:
    print('Grade A*')
elif x>=80:    
    print('Grade A')
elif x>=70:    
    print('Grade B')
elif x>=60:    
    print('Grade C')
elif x>=50:    
    print('Grade D')
else:
    print('sorry you are fail')

In [ ]:
eng=float(input("enter your english marks "))
urdu=float(input("enter your urdu marks "))
maths=float(input("enter your maths marks "))
sci=float(input("enter your sci marks "))
comp=float(input("enter your comp marks "))
obtain_Marks=eng+urdu+maths+sci+comp
total_Marks=500
print(obtain_Marks)
per=(obtain_Marks/total_Marks)*100
print(per)
if per > 100:
    print('error')

elif per >=90:
    print('Grade A*')
elif per>=80:    
    print('Grade A')
elif per>=70:    
    print('Grade B')
elif per>=60:    
    print('Grade C')
elif per>=50:    
    print('Grade D')
else:
    print('sorry you are fail')
print('your obtained marks are ',Obtain_Marks)

In [ ]:
eng=float(input("enter your english marks "))

urdu=float(input("enter your urdu marks "))

maths=float(input("enter your maths marks "))

sci=float(input("enter your sci marks "))

comp=float(input("enter your comp marks "))

obtain_Marks=eng+urdu+maths+sci+comp

total_Marks=500



per=(obtain_Marks/total_Marks)*100



if per > 100:
    print('error')

elif per >=90:
    grade='Grade A*'
elif per>=80:    
    grade='Grade A'
elif per>=70:    
    grade='Grade B'
elif per>=60:    
    grade='Grade C'
elif per>=50:    
    grade='Grade D'
else:
    grade='fail'
    #('sorry you are fail')
    
print('u have obtained '+ str(obtain_Marks) + 'Marks' + '\n your percentage is '+ str(per)+ '\n your grade is '+ grade)

In [ ]:
permission = input('ask from your wife.\nIs she allow you to go stadium? [Y/N]').upper()
tickets = input('do you have tickets? [Y/N]').upper()
age = int(input('enter your age:'))
if age >=18 and permission == "Y" and tickets == "Y":
    print('\n you are allow for the match')
else:
    print('\n get loss from here...\n go to home and watch on tv')

In [ ]:
age = int(input('enter your age '))
remainingAge=18-age
if age >= 18:
    cnic = input('Do you have cnic? [Y/N]').upper()
    vlistname = input('Do you have your name in the voters list? [Y/N]').upper()
    city = input('enter your city name').title()
if (cnic =="Y" and vlistname =="Y") or city!='Lahore':
    print('you are allowed to cast vote')
else:
    print('You are not eligible to cast vote')
    print("you will be allowed after "+ str(remainingAge)+"years")

# comment

In [ ]:
# print('hello world') # for comments, another option is three times ''' '''

# print('hello world')
# print('hello world')
# print('hello world')
# print('hello world')
# print('hello world')
# print('hello world')

# list

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[2]

In [ ]:
friends.index('nouman') # provide index of the person in the array

"ali" in friends # check whether ali is in the list or not

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[2]
myList[-3]

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[2]
print(myList[-3])

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[3]='hyderabad'
print(myList)

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList[-2]='hyderabad'
print(myList)

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList.append('hyderabad')
print(myList)

In [ ]:
myList=['khi','lhr','peshawar','quetta','multan','islamabad']
myList.append('hyderabad','muree')
print(myList)

In [ ]:
myList.index('lhr')

In [ ]:
"lhr"

In [ ]:
"lhr"in myList

In [ ]:
list=[]
list.append('car')
list.append('motorbikes')
list.append('trucks')
list.append('aeroplane')
print(list)

In [ ]:
list=['hamza','ali','saad','hayan','hafsah']
print(list)

In [ ]:
list=['hamza','ali','saad','hayan','hafsah']
list.insert(3,'hussain')
print(list)

In [ ]:
list=['hamza','ali','saad','hayan','hafsah']
list.insert(3,'hussain')
print(list)

In [ ]:
list=['hamza','ali','saad','hayan','saad','hafsah']
list.remove('saad')
print(list)

In [ ]:
list=['hamza','ali','saad','hayan','hafsah']
print(list.index('hayan'))
del list[3]
print(list)

In [ ]:
list=['Task5', 'Task4', 'Task3', 'Task2', 'Task1']
task_done=[]
user=input('have you completed your all task? [Y/N]').upper()
if user=='Y':
    task_done = list.pop()
    print(task_done)
    print(list)
    
else:
    print('plz finish the task')

# if user=='Y':
#     task2=input('have you completed your task2? [Y/N]').upper() 
#     if task2=='Y'
#     task_done.append('Task2')
#     list.pop()
#     print('please attempt Task3')
# else:
#     print('plz finish the task')
    
# if user=='Y':
#     task3=input('have you completed your task3? [Y/N]').upper() 
#     if task3=='Y'
#     task_done.append('Task3')
#     list.pop()
#     print('please attempt Task4')
# else:
#     print('plz finish the task')   
    
# if user=='Y':
#     task4=input('have you completed your task4? [Y/N]').upper() 
#     if task4=='Y'
#     task_done.append('Task4')
#     list.pop()
#     print('please attempt Task5')
# else:
#     print('plz finish the task')  
    
# if user=='Y':
#     task5=input('have you completed your task5? [Y/N]').upper() 
#     if task5=='Y'
#     task_done.append('Task5')
#     list.pop()
#     print('congrats')
# else:
#     print('plz finish the task')    
    
print(task_done)

In [ ]:
todolist=['call sara', 'play','take lunch','goto shopping']

complete_task=[]

In [ ]:
todolist=['call sara', 'play','take lunch','goto shopping']

complete_task=[]

task =input("Enter your task:")
if task in todolist:
    index=todolist.index(task)
    complete_task.append(todolist.pop(index))
    print(todolist)
    print(complete_task)
else:
    print("This taks is not in list")

# 27-mar-19   slicing

In [ ]:
#slicing---slicing always travel from left to right----

In [ ]:
#      [-9-8-7-6-5-4-3-2-1]
list1 = [9,8,7,6,5,4,3,2,1]
#      [0 1 2 3 4 5 6 7 8]
list1

In [ ]:
#list1[start:end]
list2 =list1[3:5]
list2

In [ ]:
#list1[start:end]
list2 = list1[3:5]
print(list2)

In [ ]:
list3=list1[5:3]
list3

In [ ]:
reversedSliced=list1[-6:-4]
reversedSliced

In [ ]:
friends=['zohaib','umer','ali','hamza']


print(friends[0].upper()+' you are invited by me on dinner ' ) 
print(friends[1].upper()+' you are invited by me on dinner ' ) 
print(friends[2].upper()+' you are invited by me on dinner ' ) 
print(friends[3].upper()+' you are invited by me on dinner ' )

In [ ]:
friends=['zohaib','umer','ali','hamza']
friends.append('zahid')
friends.insert(0,'hayan')
friends.insert(3,'hussain')

print('we found a bigger dinner table so Mr '+friends[0].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[1].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[2].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[3].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[4].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[5].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[6].upper()+' you are invited by me on dinner')
print('we found a bigger dinner table so Mr '+friends[7].upper()+' you are invited by me on dinner')

In [8]:
ekList=[4,5,6,7,8,9]
list2=ekList.copy()

In [9]:
ekList.append(4665)
print(ekList)
print(list2)

[4, 5, 6, 7, 8, 9, 4665]
[4, 5, 6, 7, 8, 9]

In [10]:
s=list2[:] # works same as copy the list

In [11]:
print(s[1:3],s[4:])

[5, 6] [8, 9]

In [ ]:
s.clear() # clears the list

In [ ]:
s

In [6]:
q=[3,4,5,6,7,8,8,9,8,0,1]
q.count(8)

3

In [ ]:
del q[1] # for delete always done by giving the index number

In [ ]:
q

In [ ]:
q.remove(9) # remove done on the basis of value

In [ ]:
poppedV=q.pop(2)

In [ ]:
poppedV

In [ ]:
q.extend('ahsunnnn')
print(q)

In [1]:
list1 = [45,65,1,65,23,95]

In [2]:
sum(list1)

294

In [3]:
max(list1)

95

In [4]:
min(list1)

1

In [6]:
listInList=['q',5,[1,2,3,4,5,[4,5,6]]]
listInList[2][5][2]

6

In [3]:
listInList=['q',5,[1,2,3,4,5,[4,5,6]]]
listInList[2][5].index(5)

1

In [17]:
new_users = ['asad','irfan','ali','yasir','hussain']

current_users = ['ali', 'sara', 'asad','saad','ahmed']

for check in current_users:
    if check in new_users:
        print('the user name is not available')
    else:
        print('user name is available' )

the user name is not available
user name is available
the user name is not available
user name is available
user name is available

In [20]:
users = input('Enter your name ')
new_user = users.lower()


# new_users = ['asad','irfan','ali','yasir','hussain']

current_users = ['ali', 'sara', 'asad','saad','ahmed']

for check in current_users:
    if check in new_users:
        print('the user name is not available')
    else:
        print('user name is available' )

Enter your name ali
the user name is not available
user name is available
the user name is not available
user name is available
user name is available

In [22]:
s=['pakistan']

In [ ]:
# python string docs===google search
# python-reference.read the docs
# docs.python.org

# string format

In [24]:
name='saad'
f_name='ali'
print ("My name is "+ name + " and my father name is "+f_name)

My name is saad and my father name is ali

# string method format 2

In [25]:
name='saad'
f_name='ali'
print ("My name is {} and my father name is {}".format(name,f_name))

My name is saad and my father name is ali

In [26]:
name='saad'
f_name='ali'
print ("My name is {0} and my father name is {1}".format(name,f_name))

My name is saad and my father name is ali

In [27]:
name='saad'
f_name='ali'
print ("My name is {1} and my father name is {1}".format(name,f_name))

My name is ali and my father name is ali

In [29]:
name='saad'
f_name='ali'
print ("My name is {1} and my father name is {0}".format(name,f_name))

My name is ali and my father name is saad

# 3rd method

In [30]:
name='saad'
f_name='ali'
print (f"My name is {name} and my father name is {f_name}")

My name is saad and my father name is ali

In [31]:
num=45
name='asad'
print(f"my name is {name} and my number is {num}")

my name is asad and my number is 45

In [32]:
person = "Nasir"
print ('my name is {}'.format(person))

my name is Nasir

In [33]:
myList = [1,2,3]
print(f'my number is {myList[2]}')

my number is 3

# Tupple is immutable

In [34]:
myTupple = ('apple','oranges','pineapple')  #same like list but can not be modified...list has square brakcets while tupple has round brackets

In [35]:
a= 12,2345 #packing of values(tupples)

In [36]:
a

(12, 2345)

In [37]:
b,c =a

In [38]:
b

12

In [39]:
c

2345

In [40]:
a=454,4545,478j,656,36,786,125,764,154

In [41]:
a

(454, 4545, 478j, 656, 36, 786, 125, 764, 154)

In [42]:
b,c,d,e=a

ValueError: too many values to unpack (expected 4)

In [43]:
b,c,d,e,f,g,h,i,j=a

In [44]:
b

454

In [45]:
d

478j

In [46]:
f

36

In [47]:
g

786

In [48]:
h

125

In [49]:
i

764